@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

*{
  font-weight: 500;
  box-sizing: border-box;
}

p+p{
  margin-top:1rem;
}

p{
  color: rgb(24, 24, 24);
  line-height: 2rem;
}
h1{
  font-size: 2.4rem;
  font-weight: 600;
}
h2+h2{
  margin-top: 2rem;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
